h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0 0 1rem 0;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  // background-image: url('/assets/images/banner-compressed.jpg');
  // background-position: top;
}

img {
  width: 275px;
  height: 275px;
  border: 6px solid #565656;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .container  {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
