<div class="container">
  <h1>Hi! I'm
    <div class="name-text">Nathan Weiland</div>
  </h1>
  <picture>
    <source media="(min-width:650px)" srcset="./assets/images/portrait-lg-compressed.jpg">
    <source media="(min-width:465px)" srcset="./assets/images/portrait-md-compressed.jpg">
    <img fetchpriority="high" src="./assets/images/portrait-sm-compressed.jpg" alt="Portrait">
  </picture>
</div>
<app-navbar></app-navbar>
<app-about-me></app-about-me>
<app-education></app-education>
<app-experience></app-experience>
<app-projects></app-projects>
<app-contact></app-contact>
