<p-divider id="contact"></p-divider>
<div class="container">
  <h2>Contact</h2>
  <p-card
    class="border-card flex align-items-center justify-content-center font-bold m-2"
    [style]="{'width' : '300px'}">
    <h3>Let's Connect!</h3>
    <div class="contact-links">
      <a href="https://{{linkedInURL}}"><p-button styleClass="p-button-rounded" label="Linkedin" icon="pi pi-linkedin"></p-button></a>
      <a href="https://{{gitHubURL}}"><p-button styleClass="p-button-rounded" label="GitHub" icon="pi pi-github"></p-button></a>
    </div>
  </p-card>
</div>
