<p-divider id="projects"></p-divider>
<div class="container">
  <h2>Projects</h2>
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let project of projects">
      <ng-template carouselSlide>
        <p-card header="{{project.title}}" subheader="{{project.projectType}}"
                class="flex align-items-center justify-content-center font-bold m-2 border-card">
          <div class="card-content">
            <p>{{project.description}}</p>
            <div class="content-container">
              <img ngSrc="./assets/images/{{project.projectCover}}" width="512" height="512" alt="Project cover"
                   priority>
              <div *ngIf="project.gitHubLink" class="link-margin">
                <a href="{{project.gitHubLink}}">
                  <p-button styleClass="p-button-rounded" label="GitHub Repository"
                            icon="pi pi-external-link"></p-button>
                </a>
              </div>
              <div *ngIf="project.playOverWebLink" class="link-margin">
                <a href="{{project.playOverWebLink}}">
                  <p-button styleClass="p-button-rounded" label="Play via Browser" icon="pi pi-caret-right"></p-button>
                </a>
              </div>
            </div>
          </div>
        </p-card>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
